<div class="card mb-3">
  <h2 class="card-header h4">
    Product #<%= product.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Brand</dt>
      <dd><%= product.brand %></dd>

      <dt>Product name</dt>
      <dd><%= product.product_name %></dd>

      <dt>Ph level</dt>
      <dd><%= product.ph_level %></dd>

      <dt>Description</dt>
      <dd><%= product.description %></dd>

      <dt>Purchase link</dt>
      <dd><%= product.purchase_link %></dd>

      <dt>Image</dt>
      <dd>
        <%= cl_image_tag @product.image, class: "img-fluid" %>
      </dd>

      <dt>Creator</dt>
      <dd>
        <% if @product.creator.present? %>
          <%= link_to product.creator, product.creator %>
        <% end %>
      </dd>

      <dt>Product type</dt>
      <dd>
        <% if @product.product_type.present? %>
          <%= link_to product.product_type, product.product_type %>
        <% end %>
      </dd>

      <dt>Validated by company</dt>
      <dd><%= product.validated_by_company %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back product, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_product_url(product), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to product, method: :delete, data: { confirm: "Do you really want to delete this product?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(product.updated_at) %> ago
  </div>
</div>
